<!doctype html>
<html ng-app="gw">
<head>
  <title>Genie-Workshop</title>
  <link rel="stylesheet" href="black-box/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="black-box/codemirror/codemirror.css">
  <link rel="stylesheet" href="style.css">
  <script src="black-box/angular.js"></script>
</head>
<body ng-controller="MainCtrl">

<h1>Genie Workshop</h1>
<div>A lesson-by-lesson tutorial to illustrate how to use genie and its related components.</div>
<small class="text-muted"><strong>Note:</strong> This workshop is based on genie version 0.3.0.</small>

<div ng-show="lesson">

  <div>
    <h2>{{lesson.concept}}</h2>
    <span ng-if="previousLesson">
      <a ng-href="{{'#/' + (lessonNum - 1)}}"><i class="glyphicon glyphicon-arrow-left"></i> {{previousLesson.concept}}</a>
    </span>
    <span ng-if="previousLesson && nextLesson">
      |
    </span>
    <span ng-if="nextLesson">
      <a ng-href="{{'#/' + (lessonNum + 1)}}">{{nextLesson.concept}} <i class="glyphicon glyphicon-arrow-right"></i></a>
    </span>
  </div>

  <hr />

  <h2>Concept Explanation</h2>
  <div ng-include="lessonDir + 'concept.html'"></div>

  <hr />

  <h2>Play around!</h2>
  <div>Feel free to edit this code and click re-run!
    <small class="text-muted">This code has already been run once :-)</small>
  </div>
  <small class="text-muted">
    At any time, you can rub the lamp (<kbd>ctrl</kbd> + <kbd>space</kbd>) and see the wishes that have been registerd.
  </small>
  <pre class="genie-code margin-top-small margin-right-xxxlarge" code-mirror></pre>
  <button class="btn btn-default margin-top-small" ng-click="rerunGenieCode()">Re-run code</button>

  <h4 class="margin-top-medium">Output:</h4>
  <pre id="output" class="pre-scrollable margin-top-small margin-right-xxxlarge"></pre>

  <div ng-if="!nextLesson">
    <hr />
    <h2>All done!</h2>
    Congratulations!
  </div>

</div>
<div ng-hide="lesson">
  <a  ng-href="#/0">Let's get started</a>
</div>
<hr />

<div>
  <div><strong>Related Links</strong></div>
  <div ng-repeat="link in links">
    <a ng-href="{{link.href}}" target="_blank">{{link.text}}</a>
  </div>
</div>

<div ux-lamp rub-class="visible"></div>

<script src="black-box/codemirror/codemirror.js"></script>
<script src="black-box/codemirror/javascript.js"></script>
<script src="black-box/other.js"></script>
<script src="black-box/genie.js"></script>
<script src="black-box/uxGenie.js"></script>
<script src="app.js"></script>
</body>
</html>